

block content

  #chat-area
    .row
      .messages.col-lg-12.well.well-sm
    .row
      .col-lg-12
        .input-group
          input.form-control(type='text', placeholder='Message...')
          span.input-group-btn
            button.btn.btn-success(type='button') Send
