

block content


  #chat-area
    .row
      .messages.col-lg-6.well.well-sm
    .row
      .col-lg-6
        .input-group
          input.form-control(type='text', placeholder='Message...')
          span.input-group-btn
            button.btn.btn-default(type='button') Send

script(src='/socket.io/socket.io.js')
script(src='/javascripts/bundle.js')
