table
  for game in games
    tr
      td Game Id #{game.gameID}
      td Name #{game.gameRoomName}
      td Current Players = #{game.current_players}
      td Max Players = #{game.max_players}
      td
        button.inlineblock(method="get" onclick="location.href='/lobby/joinGame?gameID=" + game.gameID  + "'") join game
