extends gameLayout

block content
  .container
    form.col-sm-1(action="/backToLobby" method="post")
      button.form-control.buttonstyle.whitetext(type="submit") Lobby
  h1= gameRoomName
  #socket
    .message
    br
    .playerMessage
  block content

  table
    for player in players
      tr
        td Player: #{player}
        td
