extends gameLayout

block content
  .container
    form.col-sm-1(action="/backToLobby" method="post")
      button.form-control.buttonstyle.whitetext(type="submit") Lobby
  h1= gameRoomName
  #socket
    .message
    br
    .playerMessage
    br
    .startGameMessage
    br
    .hand
  block content
  #startGame
    .input-group
      span.input-group-btn
        button.btn.btn-success(type='button') Start Game

  table
    for player in players
      tr
        td Player: #{player}
        td
