.row
.col-sm-9
  label.col-sm-12.formhead Join Room
  .row
    .col-sm-12.joinroom.window.barstyle
        each game in games
          button.gameroom.inlineblock(method="get" onclick="location.href='/lobby/joinGame?gameId=" + game + "'")
            b Game #{game}
