extends nonLobbyLayout

block content
  h1= message
  .container.draw-border
    row.col-sm-8
      img(src="../img/go-fish.jpg" alt="app logo").login-register-image
    .row.form-group.col-sm-4
      .row.form-group.col-sm-12.center
        h2.formhead.col-sm-12.screen-title Log in
        form.col-sm-12(action="/goToLogin" method="post")
          button.form-control.btn.btn-primary.whitetext(type="submit") Login
      .row.form-group.col-sm-12.center
        form.col-sm-12(action="/goToRegister" method="post")
          button.form-control.btn.btn-success.whitetext(type="submit") Register
