extends layout

block content
  div.row
    div.col-sm-2
    .container.col-sm-8.center-align
      form.col-sm-12(action="/login/loginUser" method="post").draw-border-blue
        .row.com-sm-12
          img(src="../img/go-fish.jpg" alt="app logo").login-register-image
        .row.form-group.col-sm-12.center
          h2.formhead.screen-title Log in/ Register
        .row.form-group.col-sm-12
          .col-sm-3
            label.col-form-label.top-bottom-padding Username:
          .col-sm-9
            input.form-control(type="text" name="username")
        .row.form-group.col-sm-12
          .col-sm-3
            label.col-form-label.top-bottom-padding Password:
          .col-sm-9
            input.form-control(type="password" name="password")
        .row.form-group.col-sm-12
          .col-sm-3
            if(error)
              div.row.com-sm-12.draw-border-red
                h5#error-label.error-label Invalid credentials
          .col-sm-9
            button.form-control.btn.btn-primary.whitetext(type="submit") LOGIN
    .col-sm-2
